################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DyanmicsCrmOptionSetRetriever/bin/Debug
/DyanmicsCrmOptionSetRetriever/obj/Debug
/DynamicsCrmOptionSetRetrieverTest/bin/Debug
/DynamicsCrmOptionSetRetrieverTest/obj/Debug
/.vs/DyanmicsCrmOptionSetRetriever/v14
