<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key='OPTIONSET_SETTINGS' 
         value='
              [
                {
                  "entities": [
                    {
                      "name": "contact",
                      "optionsets": [
                        {
                          "name": "optionset1",
                          "mapping": [
                            {
                              "external_string": "string1",
                              "crm_value": 1
                            },
                            {
                              "external_string": "string2",
                              "crm_value": 2
                            },
                            {
                              "external_string": "string3",
                              "crm_value": 3
                            },
                            {
                              "external_string": "string4",
                              "crm_value": 4
                            }
                          ]
                        },
                        {
                          "name": "optionset2",
                          "mapping": [
                            {
                              "external_string": "string1",
                              "crm_value": 1
                            },
                            {
                              "external_string": "string2",
                              "crm_value": 2
                            },
                            {
                              "external_string": "string3",
                              "crm_value": 3
                            },
                            {
                              "external_string": "string4",
                              "crm_value": 4
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "name": "account",
                      "optionsets": [
                        {
                          "name": "optionset1",
                          "mapping": [
                            {
                              "external_string": "string5",
                              "crm_value": 5
                            },
                            {
                              "external_string": "string6",
                              "crm_value": 6
                            },
                            {
                              "external_string": "string7",
                              "crm_value": 7
                            },
                            {
                              "external_string": "string8",
                              "crm_value": 8
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]' />
  </appSettings>
</configuration>